body{margin:0;
     background-image:url("rd.jpg");
     background-repeat:no-repeat;
     background-attachment:fixed;
     background-size:100% 100%;
     /*color:white;*/
     text-align:center;
    /* text-shadow:0.5px 0.5px #434f85de;*/
}

*{
    box-sizing: border-box;
}


#but{font-family:"Times New Roman";
      color:teal;
      padding:15px;}


header{text-transform:capitalize;
    
}

table,th,td{border:5px solid white;
            text-align:center;
            border-radius:10px;
            font-family:Times,serif;
            margin-right: auto;
            margin-left: auto;
}

tr:nth-child(even){
    background-color: aquamarine;
}

tr:nth-child(odd){
    background-color: rgb(173, 212, 199);
}


p{ font-family:"Times New Roman",Times,serif}
/*p{font-family:"Brush Script MT",
Lucida, Handwriting;}*/
/*p{font-family:Sofia;}*/


h1,h2,h3{
    font-family:"Times New Roman",Times,serif;
}

header{
    font-family:"Times New Roman",Times,serif;
}


#tabs > ul{
    list-style-type:none;
    display:flex;
    margin:0;
    padding:0;
    width:80%;
    height:100%;
    color: aquamarine;
    border-radius:15px;
    margin: auto;
    }

    
 #tabs > ul > li > a {
  text-align: centre;
  display: block;
  color: #000;
  padding: 4px 8px;
  text-decoration: none;
  border:3px solid teal;
  background-color: aqua;
  height: 54px;
  border-radius:15px;
  }

  #tabs> div{
    background: rgba(127, 255, 212, 0.247);
    transition: opacity 300ms linear;
    width:80%;
    
    margin: auto;
    border-radius:15px;
    font-size: 1.3em;
  }

  #tabs .active{
    background: aquamarine;
    color: darkgreen;
  }

  #tabs .hidden{
    display:none;
  }

  #tabs .visible{
    display:block;
  }

  #tabs .visuallyhidden{
    opacity:0;
  }
  
img{
    width: 600px;
    height:500px;
    border:5px solid rgba(0, 100, 0, 0.466);
    border-radius: 10px;
}


